<ion-header>
  <ion-navbar>
    <ion-title>Login</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-item>
    <ion-label floating>Email</ion-label>
    <ion-input type="email" name="email" [(ngModel)]="user.email"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label floating>Senha</ion-label>
    <ion-input type="password" name="password" [(ngModel)]="user.password"></ion-input>
  </ion-item>
 
  <ion-footer>
    <ion-toolbar>
      <button ion-button block (click)="login()">Entrar</button>
      <button ion-button block (click)="registerUser()">Registrar-se</button>
    </ion-toolbar>
  </ion-footer>
</ion-content>
