<ion-header>

  <ion-navbar>
    <ion-title>Food Truck</ion-title>
    <ion-buttons end>
      <button ion-button (click)="close()">
        Close
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <img [src]="cameraData" *ngIf="cameraData">

  <ion-list>

    <ion-item>
      <ion-avatar item-left>
        <img src="assets/img/avatar.png">
      </ion-avatar>

      <ion-label color="primary" stacked>Nome</ion-label>
      <ion-input type="text" placeholder="Nome do food truck" [(ngModel)]="marker.nome"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="primary" stacked>Horário de funcionamento</ion-label>
      <ion-input type="number" placeholder="Horário de Abertura" [(ngModel)]="marker.horarioInicio"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="primary" stacked></ion-label>
      <ion-input type="number" placeholder="Horário de Encerramento" [(ngModel)]="marker.horarioFim"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="primary" stacked>Contato</ion-label>
      <ion-input type="tel" placeholder="Telefone para contato" [(ngModel)]="marker.contato"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="primary" stacked>Descrição</ion-label>
      <ion-textarea placeholder="Descrição do food truck" rows="8" [(ngModel)]="marker.descricao"></ion-textarea>
    </ion-item>

  </ion-list>

  <ion-footer>
    <ion-toolbar>
      <!--<button ion-button block color="dark" (click)="openCamera()" >Tirar uma foto</button>-->
      <button ion-button color="primary" block (click)="cadastrar()">Cadastrar</button>
    </ion-toolbar>
  </ion-footer>
    
</ion-content>
