<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Locais Próximos</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <sebm-google-map
    [latitude]="lat"
    [longitude]="lng"
    [zoom]="zoom"
    [streetViewControl] = "false"
    [disableDefaultUI] = "false"
    (mapClick)="setMarker($event)" >
    
    <sebm-google-map-marker *ngFor="let item of items | async"
      [latitude]="item.lat"
      [longitude]="item.lng">

        <sebm-google-map-info-window [disableAutoPan]="true">
          <div class="item row">
            <span style="text-align:left" class="col col-20"><img style="width: 60px; height: 60px;" [src]="item.icon"></span>
            <span style="text-align:left" class="col col-80"><h3>{{item.nome}}</h3></span>
          </div>
          
          <p>Aberto das {{item.horarioInicio}}h às {{item.horarioFim}}h</p>
          <p><strong>Contato:</strong> {{item.contato}}</p>
          <p> {{item.descricao}}</p>
       </sebm-google-map-info-window>
    </sebm-google-map-marker>
  </sebm-google-map>
</ion-content>
