<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Minhas Localizações</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <button ion-item *ngFor="let item of items | async" (tap)="itemTapped($event, item)">
      <ion-avatar item-left>
        <img [src]="item.icon">
      </ion-avatar>
      {{item.nome}}
    </button>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="queryTasks($event)" icon="ion-loading-c">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data..."> </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>

<ion-footer>
  <ion-segment [(ngModel)]="showOnlyActual" (ngModelChange)="queryTasks()" color="primary">
    <ion-segment-button value="false"> Todas </ion-segment-button>
    <ion-segment-button value="true"> Atuais </ion-segment-button>
  </ion-segment>
</ion-footer>
